<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/test']"
    >{{ 'Spoti' | uppercase }}<b>APP</b>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed"
  >
    <span class="fas fa-bars"></span>
    <!-- <span class="navbar-toggler-icon"></span> -->
  </button>
  <div
    class="collapse navbar-collapse ml-3"
    [collapse]="isCollapsed"
    id="navbarNav"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Inicio</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/search']">Búsqueda</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Ingresar Token"
        aria-label="Ingresar Token"
        #tokenInput
      />
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        (click)="this.actualizarToken(tokenInput.value)"
      >
        Ingresar
      </button>
    </div>
  </div>
</nav>
